@using Contrack;
@{
    ViewBag.Title = "Clients";
    ViewBag.MainManu = "Master";
    ViewBag.SubManu = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadscrumb-holder">
    <!-- Container -->
    <div class="container-fluid flex items-center justify-between flex-wrap gap-5">
        <div class="flex flex-col justify-center items-start flex-wrap gap-1 lg:gap-2">

            <div class="flex items-center gap-1 text-sm font-normal">
                <span class="text-gray-700">
                    Home
                </span>
                <span class="text-gray-400 text-sm">
                    /
                </span>
                <span class="text-gray-700">
                    Masters
                </span>
                <span class="text-gray-400 text-sm">
                    /
                </span>
                <span class="text-gray-900">
                    Clients
                </span>
            </div>
            <h1 class="page-header">
                Clients
            </h1>
        </div>
        <div class="flex items-center flex-wrap gap-1.5 lg:gap-3.5">

            <button class="btn btn-sm btn-primary" onclick="OpenClientModal('','')">
                <i class="ki-filled ki-plus">
                </i>
                Add Client
            </button>
        </div>
    </div>
    <!-- End of Container -->
</div>

<!-- Container -->
<div class="container-fluid">
   
    <div class="grid">
        <div class="card card-grid min-w-full">
            <div class="card-header flex-wrap gap-2 ">
                <h3 class="card-title font-medium text-md">
                    Clients
                </h3>
                <div class="flex flex-wrap gap-2 lg:gap-2">
                    <div class="flex">
                        <label class="input input-sm">
                            <i class="ki-filled ki-magnifier"></i>
                            <input data-datatable-search="#TableClients" placeholder="Search" type="text" value="">
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="TableClients" class="custom-dt">
                    <div class="scrollable-x-auto">
                        <table class="table table-auto table-border align-middle text-gray-700 font-medium text-sm" data-datatable-table="true">
                            <thead>
                                <tr>
                                    <th class="min-w-[250px]" data-datatable-column="name">
                                        <span class="sort">
                                            <span class="sort-label">
                                                Client Name
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>

                                    <th class="min-w-[185px]" data-datatable-column="email">
                                        <span class="sort">
                                            <span class="sort-label">
                                                Email
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>
                                    @*<th class="min-w-[185px]" data-datatable-column="phone">
                                            <span class="sort">
                                                <span class="sort-label">
                                                    Phone
                                                </span>
                                                <span class="sort-icon">
                                                </span>
                                            </span>
                                        </th>*@
                                    <th class="min-w-[185px]">
                                        PIC
                                    </th>
                                    <th class="w-[250px]">
                                        Created For
                                    </th>
                                    <th class="min-w-[150px] text-center" data-datatable-column="createdat">
                                        <span class="sort">
                                            <span class="sort-label">
                                                Created Date
                                            </span>
                                            <span class="sort-icon">
                                            </span>
                                        </span>
                                    </th>
                                    <th class="w-[150px] text-center" nowrap>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-3 text-gray-600 text-2sm font-medium">
                        <div class="flex items-center gap-2">
                            Show
                            <select class="select select-sm w-16" data-datatable-size="true" name="perpage">
                            </select>
                            per page
                        </div>
                        <div class="flex items-center gap-4">
                            <span data-datatable-info="true">
                            </span>
                            <div class="pagination" data-datatable-pagination="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end: grid -->
</div>
<div id="modalsection">
</div>
@section PageScripts
{
    <script src="~/js/Masters/clients.js?v=1.0.5">
    </script>
}

