@model Contrack.VesselDTO
<div class="bg-center bg-cover bg-no-repeat hero-bg">
    <!-- Container -->
    <div class="container-fluid">
        <div class="flex flex-col items-center gap-2 lg:gap-3.5 py-4 lg:pt-5 lg:pb-10">

            <div class="flex items-center1 gap-1.5">
                <div class="text-lg leading-5 font-semibold text-gray-900">
                    @Model.vesselname
                </div>
            </div>


            @*<div class="flex flex-wrap justify-center gap-1 lg:gap-4.5 text-sm">
            <div class="flex gap-1.25 items-center">

                <span class="text-gray-600 font-medium hover:text-primary">
                    IMO : @Model.imono
                </span>
                <span class="text-gray-600 font-medium hover:text-primary">
                    MMSI No : @Model.mmsino
                </span>
            </div>
        </div>*@

        </div>
    </div>
    <!-- End of Container -->
</div>